@import "tailwindcss";

@theme {
  --color-primary: #16a34a;
  --color-primary-dark: #15803d;
  --color-primary-light: #22c55e;

  --color-sidebar-bg: #f8fafc;
  --color-sidebar-border: #e2e8f0;
  --color-sidebar-text: #334155;
  --color-sidebar-text-muted: #94a3b8;
}
